{% extends 'base.html' %}
{% block main %}

{% load cart %}
{% load custom_filter %}
<!-------body----->
<div class="container-fluid ">
    <div class="row">
        <!----category----->
        <div class="col-lg-3 mx-auto">
            <div class="list-group mt-4">
                <a href="/" class="list-group-item list-group-item-action active">
                    All Product
                </a>
                {% for c in category %}
                <a href="/category/{{c.pk}}" class="list-group-item list-group-item-action">{{c.name}}</a>
                {% endfor %}
            </div>

        </div>


        <!-----product------>
        <div id="product" class="col-lg-8 mx-auto">
            <div class="row mx-auto ">
                {% for i in product %}
                <div class="card mx-auto mb-3" id={{i.id}} style="width: 18rem;">
                    <img src="{{i.image.url}}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">{{i.name}}</h5>
                        <p class="card-text"><b>{{i.price|currency}}</b></p>

                        <!--{{i | is_in_cart:request.session.cart }}-->

                    </div>
                    <div class="card-footer p-0 no-gutters">
                        {% if i|is_in_cart:request.session.cart %}
                        <div class="row no-gutters">
                            <form action="/#{{i.id}}" class="col-2" method="POST">
                                {% csrf_token %}
                                <input hidden type="text" name="product" value="{{i.id}}">
                                <input hidden type="text" name="remove" value="True">
                                <input type="submit" value=" - " class="btn btn-block btn-light">
                            </form>
                            <div class="text-center col">{{i|cart_quantity:request.session.cart}} in Cart</div>
                            <form action="/#{{i.id}}" class="col-2" method="POST">
                                {% csrf_token %}
                                <input hidden type="text" name="product" value="{{i.id}}">
                                <input type="submit" value=" + " class="btn btn-block btn-light">
                            </form>

                        </div>

                        {% else %}
                        <form action="/#{{i.id}}" method="POST" class="btn-block">
                            {% csrf_token %}
                            <input hidden type="text" name="product" value="{{i.id}}">
                            <input type="submit" class="float-right btn btn-light border form-control"
                                value="Add To Cart">
                        </form>
                        {% endif %}

                    </div>

                </div>
                {% endfor %}

            </div>
        </div>
    </div>
</div>
{% endblock %}